    .nav-button{
    width:120px;
    height:45px;
    border:none;
    border-radius:30px;
    background:transparent;
    color: whitesmoke;
    font-weight:600;
    letter-spacing:.5px;
    cursor:pointer;
    transition:.4s;
    font-size:15px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#ffffff;
    color:#1b1b1b;
}

/*==================================================
            ABOUT SECTION
==================================================*/

.principal-section{
    width:100%;
    padding:120px 8%;
    position:relative;
    overflow:hidden;
    background:#fff;
}

.principal-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:90px;
    max-width:1400px;
    margin:auto;
    position:relative;
    z-index:5;
}

/*==================================================
        LEFT IMAGE
==================================================*/

.principal-image{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.circle-border{
    position:absolute;
    width:610px;
    height:610px;
    border-radius:50%;
    border:3px solid rgba(15,78,163,.08);
    animation:spinBorder 18s linear infinite;
}

.principal-image img{
    width:600px;
    height:600px;
    object-fit:cover;
    border-radius:50%;
    box-shadow:
        0 25px 70px rgba(0,0,0,.15);
    transition:.6s;
    position:relative;
    z-index:10;
}

.principal-image:hover img{
    transform:scale(1.03);
}

/*==================================================
        FLOATING BADGE
==================================================*/

.floating-badge{
    position:absolute;
    right:20px;
    bottom:80px;
    background:#0b57d0;
    color:#fff;
    padding:18px 28px;
    border-radius:70px;
    display:flex;
    align-items:center;
    gap:15px;
    box-shadow:0 18px 40px rgba(0,0,0,.18);
    z-index:20;
    animation:float 4s ease-in-out infinite;
}

.floating-badge i{
    font-size:24px;
}

.floating-badge span{
    font-weight:600;
    font-size:18px;
}

/*==================================================
        RIGHT CONTENT
==================================================*/

.principal-content{
    position:relative;
}

.section-subtitle{

    color:#f5a400;
    font-size:15px;
    letter-spacing:3px;
    font-weight:700;
    text-transform:uppercase;
    display:block;
    margin-bottom:20px;

}

/*==================================================
        QUOTE ICON
==================================================*/

.quote-icon{

    color:#b7c8ea;
    font-size:120px;
    margin-bottom:20px;

}

.principal-content h2{

    font-size:58px;
    line-height:1.18;
    color:#123d86;
    margin-bottom:35px;
    font-weight:800;

}

.principal-content h2 span{

    color:#0B57D0;

}

.principal-content h2 strong{

    color:#f5a400;

}

.principal-content p{

    color:#6b7280;
    font-size:22px;
    line-height:2;
    margin-bottom:45px;
    max-width:700px;

}

/*==================================================
        SCHOOL INFO
==================================================*/

.principal-info{

    border-left:5px solid #0B57D0;
    padding-left:25px;
    margin-bottom:50px;

}

.principal-info h3{

    font-size:30px;
    color:#123d86;
    margin-bottom:8px;

}

.principal-info span{

    color:#8d8d8d;
    font-size:18px;

}

/*==================================================
        BUTTONS
==================================================*/

.about-buttons{

    display:flex;
    gap:20px;
    flex-wrap:wrap;

}

.primary-btn{

    background:#0B57D0;
    color:#fff;
    text-decoration:none;
    padding:18px 38px;
    border-radius:60px;
    font-weight:600;
    transition:.4s;
    display:flex;
    align-items:center;
    gap:15px;
    box-shadow:0 18px 35px rgba(11,87,208,.25);

}

.primary-btn:hover{

    transform:translateY(-8px);
    background:#083f96;

}

.secondary-btn{

    text-decoration:none;
    color:#123d86;
    border:2px solid #dbe6f9;
    padding:18px 34px;
    border-radius:60px;
    display:flex;
    align-items:center;
    gap:14px;
    transition:.4s;
    font-weight:600;

}

.secondary-btn:hover{

    background:#123d86;
    color:white;

}

/*==================================================
        ANIMATIONS
==================================================*/

@keyframes float{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-15px);

    }

}

@keyframes spinBorder{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }
}
.bg-pattern{
    position:absolute;
    left:-120px;
    bottom:-70px;
    width:520px;
    height:250px;
    opacity:.08;
    z-index:0;

    background-image:
    radial-gradient(circle,#0B57D0 18%,transparent 20%);
    background-size:22px 22px;
}

/*==========================================
        BACKGROUND BLUR CIRCLES
==========================================*/

.principal-section::before{

    content:'';
    position:absolute;
    width:420px;
    height:420px;
    background:#0B57D0;
    border-radius:50%;
    top:-180px;
    right:-120px;
    filter:blur(170px);
    opacity:.08;

}

.principal-section::after{

    content:'';
    position:absolute;
    width:350px;
    height:350px;
    background:#FDB515;
    border-radius:50%;
    bottom:-150px;
    left:-80px;
    filter:blur(170px);
    opacity:.12;

}

/*==========================================
        IMAGE GLOW
==========================================*/

.principal-image::before{

    content:'';
    position:absolute;
    width:630px;
    height:630px;
    border-radius:50%;
    background:linear-gradient(
    135deg,
    rgba(11,87,208,.15),
    rgba(255,255,255,.02));

    z-index:-1;
    animation:pulseGlow 5s infinite;

}

/*==========================================
        IMAGE SHINE
==========================================*/

.principal-image::after{

    content:'';
    position:absolute;
    width:170px;
    height:700px;
    background:rgba(255,255,255,.18);
    transform:rotate(25deg);
    left:-220px;
    top:-60px;
    transition:1s;

}

.principal-image:hover::after{

    left:760px;

}

/*==========================================
        QUOTE ANIMATION
==========================================*/

.quote-icon{

    animation:floatQuote 6s ease-in-out infinite;

}

/*==========================================
        BUTTON RIPPLE
==========================================*/

.primary-btn{

    position:relative;
    overflow:hidden;

}

.primary-btn::before{

    content:'';
    position:absolute;
    width:0;
    height:0;
    border-radius:50%;
    background:rgba(255,255,255,.25);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:.6s;

}

.primary-btn:hover::before{

    width:420px;
    height:420px;

}

/*==========================================
        TEXT EFFECTS
==========================================*/

.principal-content h2 span{

    position:relative;

}

.principal-content h2 span::after{

    content:'';
    position:absolute;
    left:0;
    bottom:-10px;
    width:100%;
    height:6px;
    border-radius:20px;
    background:#FDB515;

}

/*==========================================
        INFO CARD
==========================================*/

.principal-info{

    position:relative;
    overflow:hidden;

    background:rgba(255,255,255,.72);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.5);

    box-shadow:
    0 20px 50px rgba(0,0,0,.08);

    padding:35px;

    border-radius:22px;

    transition:.5s;

}

.principal-info::before{

content:'';

position:absolute;

width:220px;

height:220px;

background:rgba(255,255,255,.4);

border-radius:50%;

top:-130px;

right:-80px;

}

.principal-info:hover{

transform:translateY(-10px);

box-shadow:

0 30px 60px rgba(0,0,0,.12);

}
.principal-content h2 span{

background:

linear-gradient(
120deg,
#FDB515,
#FFD84D,
#FDB515);

background-size:250%;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:goldMove 4s infinite;

}

@keyframes goldMove{

0%{

background-position:left;

}

100%{

background-position:right;

}


}
.principal-content h2{

font-size:68px;

font-weight:800;

line-height:1.1;

letter-spacing:-2px;

color:#143D82;

max-width:700px;

}
.primary-btn{

background:linear-gradient(
135deg,
#0B57D0,
#174EA6);

padding:20px 45px;

font-size:17px;

font-weight:600;

letter-spacing:.5px;

border-radius:70px;

transition:.5s;

}

.primary-btn:hover{

transform:translateY(-8px);

box-shadow:

0 25px 60px

rgba(11,87,208,.35);

}
.principal-image img{

transition:

transform .8s,

filter .8s;

}

.principal-image:hover img{

transform:scale(1.05);

filter:brightness(1.08);

}
.principal-section{

background:

linear-gradient(

135deg,

#ffffff,

#f9fbff,

#ffffff);

}
.section-subtitle{

position:relative;

padding-left:70px;

}

.section-subtitle::before{

content:'';

position:absolute;

left:0;

top:50%;

width:55px;

height:3px;

background:#FDB515;

}
.floating-badge{

background:

linear-gradient(

135deg,

#0B57D0,

#143D82);

box-shadow:

0 25px 45px

rgba(11,87,208,.35);

}
.principal-image{

cursor:pointer;

}

.principal-image:hover{

filter:drop-shadow(

0 35px 60px

rgba(11,87,208,.25));

}
.principal-content>*{

animation:fadeUp .9s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(45px);

}

to{

opacity:1;

transform:translateY(0);

}

}
.principal-section .circle1{

position:absolute;

width:18px;

height:18px;

border-radius:50%;

background:#FDB515;

top:12%;

left:8%;

animation:float 6s infinite;

}

.principal-section .circle2{

position:absolute;

width:12px;

height:12px;

border-radius:50%;

background:#0B57D0;

bottom:18%;

right:12%;

animation:float 5s infinite;

}
/*==========================================
        RESPONSIVE
==========================================*/

@media(max-width:1200px){

.principal-container{

grid-template-columns:1fr;
text-align:center;
gap:70px;

}

.principal-content{

display:flex;
flex-direction:column;
align-items:center;

}

.principal-info{

border-left:none;
border-top:5px solid #0B57D0;

}

.principal-image img{

width:480px;
height:480px;

}

.circle-border{

width:490px;
height:490px;

}

}

/*===============================*/

@media(max-width:768px){

.principal-section{

padding:90px 25px;

}

.principal-image img{

width:340px;
height:340px;

}

.circle-border{

width:350px;
height:350px;

}

.quote-icon{

font-size:80px;

}

.principal-content h2{

font-size:38px;

}

.principal-content p{

font-size:18px;
line-height:1.8;

}

.about-buttons{

justify-content:center;

}

.floating-badge{

padding:14px 22px;
font-size:15px;

}

}

/*===============================*/

@media(max-width:500px){

.principal-image img{

width:280px;
height:280px;

}

.circle-border{

width:290px;
height:290px;

}

.principal-content h2{

font-size:30px;

}

.principal-content p{

font-size:16px;

}

.primary-btn,
.secondary-btn{

width:100%;
justify-content:center;

}

}

/*==========================================
        KEYFRAMES
==========================================*/

@keyframes pulseGlow{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.05);

}

}

@keyframes floatQuote{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

}
.span{
   display:inline-block;
font-size:14px;
padding-left: 20px;
letter-spacing:3px;
font-weight:600;
margin-bottom:20px;
color:#ffc107;
text-transform:uppercase; 
}
.span h1{
    padding-bottom: 40px;
}

.nav-button:hover{
    background:linear-gradient(
    135deg,
    #0056ff,
    #00c6ff
    );
    box-shadow:0 5px 20px rgba(0,86,255,.5);
    transform:translateY(-3px);
}
.admission-btn{
    padding:13px 30px;
    border-radius:30px;
    border:none;
    background:linear-gradient(
    135deg,
    #ffc107,
    #ff9800
    );
    color:white;
    font-weight:700;
    cursor:pointer;
    transition:.4s;
}

.admission-btn:hover{
    transform:translateY(-4px);
}
.nav-button.active{
    background:linear-gradient(
    135deg,
    #0056ff,
    #00c6ff
    );
    box-shadow:0 5px 20px rgba(0,86,255,.5);
}
.header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    padding:30px 70px;
    background: rgba(0, 0, 0, 0.5);
    background: transparent;
   backdrop-filter: blur(0px);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width:90px;
    height:90px;
    border-radius:50%;
    background:white;
    padding:5px;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
    transition:0.4s ease;
}
.logo img:hover{
    transform:scale(1.08);
}

.nav-links{
    display:flex;
    align-items:center;
    gap:15px;
    list-style:none;
}


.nav-links a{
    text-decoration:none;
    color: white;
    font-weight:bold;
}
.hero-container{
    height: 100vh;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(181, 181, 3);
    min-width: 150px;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 10px;
}
.dropdown-content a:hover{
    background-color: white;
    border-radius: 10px;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.content{
position:absolute;
top:50%;
left:8%;
transform:translateY(-50%);
max-width:700px;
color:white;
z-index:10;
padding-top: 300px;
}

.content span{
display:inline-block;
font-size:14px;
letter-spacing:3px;
font-weight:600;
margin-bottom:20px;
color:#ffc107;
text-transform:uppercase;
}

.content h1{
font-size:70px;
line-height:1.1;
margin-bottom:25px;
font-weight:700;
animation:slideUp 1s ease;
}

.content p{
font-size:20px;
line-height:1.8;
margin-bottom:35px;
opacity:0.95;
}

.btn-primary,
.btn-secondary{
padding:15px 35px;
border-radius:50px;
text-decoration:none;
font-weight:600;
transition:.4s;
}

.btn-primary{
background:#0056ff;
color:white;
}

.btn-primary:hover{
transform:translateY(-4px);
}

.btn-secondary{
border:2px solid white;
color:white;
}

.btn-secondary:hover{
background:white;
color:black;
}
:root{

--primary:#0b4ea2;
--secondary:#f4b400;
--dark:#052c65;
--light:#ffffff;
--gray:#666;
--shadow:0 15px 35px rgba(0,0,0,.12);

}
.hero{


height:900px;

position:relative;

overflow:hidden;

}

.slide{

position:absolute;

width:100%;

height:100%;

opacity:0;

transition:1s;

}

.slide.active{

opacity:1;

z-index:2;

}

.slide img{

width:100%;

height:100%;

object-fit:cover;

}

.overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.55);

}

.hero-content{

position:absolute;

top:50%;

left:10%;
padding-top:10px;
transform:translateY(-50%);

color:white;

max-width:650px;

animation:fadeUp 1s;

}

.hero-content h3{

font-size:18px;

letter-spacing:3px;

margin-bottom:15px;

color:var(--secondary);

}

.hero-content h1{

font-size:60px;

font-weight:700;

line-height:1.2;

margin-bottom:25px;

}

.hero-content p{

font-size:20px;

margin-bottom:35px;

line-height:1.8;

}

.hero-btn{

display:inline-block;

padding:15px 40px;

background:var(--secondary);

border-radius:40px;

color:white;

font-weight:600;

transition:.4s;

}

.hero-btn:hover{

background:white;

color:var(--primary);

transform:translateY(-5px);

}
img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}
.header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    padding:30px 70px;
    background: rgba(0, 0, 0, 0.5);
    background: transparent;
   backdrop-filter: blur(0px);
}

/*==============================
 ABOUT
===============================*/

.about{

padding:120px 0;

background: linear-gradient(135deg, lightblue,white);
box-shadow: #050505;
border-style: black
;

}

.about .container{

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

}

.about-image img{

border-radius:25px;

box-shadow:var(--shadow);

}

.about-text h5{

color:var(--secondary);

font-size:18px;

margin-bottom:15px;

}

.about-text h2{

font-size:45px;

color:var(--primary);

margin-bottom:25px;

}

.about-text p{

line-height:2;

font-size:17px;

color:#666;

margin-bottom:35px;

}

.about-boxes{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-bottom:35px;

}

.small-box{

background:#f9fbff;

padding:30px;

text-align:center;

border-radius:15px;

transition:.4s;

}

.small-box:hover{

background:var(--primary);

color:white;

transform:translateY(-10px);

}

.small-box i{

font-size:35px;

margin-bottom:15px;

color:var(--secondary);

}

.about-btn{

display:inline-block;

padding:15px 40px;

background:var(--primary);

color:white;

border-radius:40px;

transition:.4s;

}

.about-btn:hover{

background:var(--secondary);

}

/*==============================
 WHY CHOOSE US
===============================*/

.choose{

padding:120px 8%;

background:#f5f8fc;

}

.title{

text-align:center;

margin-bottom:70px;

}

.title h5{

color:var(--secondary);

font-size:18px;

margin-bottom:15px;

}

.title h2{

font-size:45px;

color:var(--primary);

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.card{

background:white;

padding:45px 30px;

border-radius:20px;

text-align:center;

transition:.5s;

box-shadow:0 8px 25px rgba(0,0,0,.05);

}

.card:hover{

transform:translateY(-15px);

background:var(--primary);

color:white;

}

.card i{

font-size:45px;

margin-bottom:20px;

color:var(--secondary);

}

.card h3{

margin-bottom:20px;

font-size:24px;

}

.card p{

line-height:1.8;

font-size:16px;

}

/*==============================
 ANIMATION
===============================*/

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/*==============================
 RESPONSIVE
===============================*/

@media(max-width:992px){

.about .container{

grid-template-columns:1fr;

}

.cards{

grid-template-columns:repeat(2,1fr);

}

.hero-content h1{

font-size:45px;

}

}

@media(max-width:768px){

.nav-links{

display:none;

}

.cards{

grid-template-columns:1fr;

}

.about-boxes{



    /*=====================================
ACADEMIC PROGRAMMES
======================================*/

.programs{
    padding:100px 8%;
    background:#ffffff;
}

.program-title{
    text-align:center;
    margin-bottom:60px;
}

.program-title h5{
    color:var(--secondary);
    font-size:18px;
    letter-spacing:2px;
    text-transform:uppercase;
}

.program-title h2{
    font-size:42px;
    color:var(--primary);
    margin-top:10px;
}

.program-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
}

.program-card{
    background:#fff;
    padding:45px 35px;
    border-radius:20px;
    text-align:center;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    border-top:5px solid var(--secondary);
}

.program-card:hover{
    transform:translateY(-12px);
    background:var(--primary);
    color:#fff;
}

.program-card i{
    font-size:55px;
    color:var(--secondary);
    margin-bottom:25px;
}

.program-card h3{
    font-size:28px;
    margin-bottom:15px;
}

.program-card p{
    line-height:1.8;
    color:#666;
}

.program-card:hover p{
    color:#eee;
}

/*=====================================
STATISTICS
======================================*/

.statistics{
    background:linear-gradient(rgba(5,44,101,.92),rgba(5,44,101,.92)),
    url("images/statistics.jpg") center/cover;
    padding:100px 8%;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.stat-box{
    text-align:center;
    color:#fff;
}

.stat-box i{
    font-size:55px;
    color:var(--secondary);
    margin-bottom:20px;
}

.stat-box h2{
    font-size:52px;
    font-weight:700;
    margin-bottom:10px;
}

.stat-box p{
    font-size:18px;
    letter-spacing:1px;
}

/*=====================================
FACILITIES
======================================*/

.facilities{
    padding:110px 8%;
    background:#f6f9ff;
}

.facilities-title{
    text-align:center;
    margin-bottom:60px;
}

.facilities-title h5{
    color:var(--secondary);
    letter-spacing:2px;
}

.facilities-title h2{
    font-size:42px;
    color:var(--primary);
    margin-top:10px;
}

.facility-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.facility-card{
    overflow:hidden;
    border-radius:18px;
    background:#fff;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.facility-card:hover{
    transform:translateY(-10px);
}

.facility-card img{
    width:100%;
    height:230px;
    object-fit:cover;
    transition:.5s;
}

.facility-card:hover img{
    transform:scale(1.08);
}

.facility-content{
    padding:28px;
}

.facility-content h3{
    color:var(--primary);
    margin-bottom:15px;
}

.facility-content p{
    color:#666;
    line-height:1.8;
}

/*=====================================
LATEST NEWS
======================================*/

.news{
    padding:110px 8%;
    background:#fff;
}

.news-title{
    text-align:center;
    margin-bottom:60px;
}

.news-title h5{
    color:var(--secondary);
}

.news-title h2{
    font-size:42px;
    color:var(--primary);
    margin-top:10px;
}

.news-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.news-card{
    background:#fff;
    overflow:hidden;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.news-card:hover{
    transform:translateY(-10px);
}

.news-card img{
    width:100%;
    height:230px;
    object-fit:cover;
    transition:.5s;
}

.news-card:hover img{
    transform:scale(1.08);
}

.news-content{
    padding:30px;
}

.news-date{
    display:inline-block;
    background:var(--secondary);
    color:#fff;
    padding:6px 15px;
    border-radius:30px;
    font-size:13px;
    margin-bottom:18px;
}

.news-content h3{
    color:var(--primary);
    margin-bottom:15px;
}

.news-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
}

.news-content a{
    color:var(--primary);
    font-weight:600;
}

.news-content a:hover{
    color:var(--secondary);
}

/*=====================================
RESPONSIVE
======================================*/

@media(max-width:992px){

.stats-container{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.program-title h2,
.facilities-title h2,
.news-title h2{
font-size:32px;
}

.stats-container{
grid-template-columns:1fr;
}

.program-container,
.facility-grid,
.news-grid{
grid-template-columns:1fr;
}

}
grid-template-columns:1fr;

}

.hero-content{

left:5%;

right:5%;

}

.hero-content h1{

font-size:35px;

}

.hero-content p{

font-size:16px;

}

}


/*=====================================
ACADEMIC PROGRAMMES
======================================*/

.programs{
    padding:100px 8%;
    background:#ffffff;
}

.program-title{
    text-align:center;
    margin-bottom:60px;
}

.program-title h5{
    color:var(--secondary);
    font-size:18px;
    letter-spacing:2px;
    text-transform:uppercase;
}

.program-title h2{
    font-size:42px;
    color:var(--primary);
    margin-top:10px;
}

.program-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:35px;
}

.program-card{
    background:#fff;
    padding:45px 35px;
    border-radius:20px;
    text-align:center;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    border-top:5px solid var(--secondary);
}

.program-card:hover{
    transform:translateY(-12px);
    background:var(--primary);
    color:#fff;
}

.program-card i{
    font-size:55px;
    color:var(--secondary);
    margin-bottom:25px;
}

.program-card h3{
    font-size:28px;
    margin-bottom:15px;
}

.program-card p{
    line-height:1.8;
    color:#666;
}

.program-card:hover p{
    color:#eee;
}

/*=====================================
STATISTICS
======================================*/

.statistics{
    background:linear-gradient(rgba(5,44,101,.92),rgba(5,44,101,.92)),
    url("images/statistics.jpg") center/cover;
    padding:100px 8%;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.stat-box{
    text-align:center;
    color:#fff;
}

.stat-box i{
    font-size:55px;
    color:var(--secondary);
    margin-bottom:20px;
}

.stat-box h2{
    font-size:52px;
    font-weight:700;
    margin-bottom:10px;
}

.stat-box p{
    font-size:18px;
    letter-spacing:1px;
}

/*=====================================
FACILITIES
======================================*/

.facilities{
    padding:110px 8%;
    background:#f6f9ff;
}

.facilities-title{
    text-align:center;
    margin-bottom:60px;
}

.facilities-title h5{
    color:var(--secondary);
    letter-spacing:2px;
}

.facilities-title h2{
    font-size:42px;
    color:var(--primary);
    margin-top:10px;
}

.facility-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.facility-card{
    overflow:hidden;
    border-radius:18px;
    background:#fff;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.facility-card:hover{
    transform:translateY(-10px);
}

.facility-card img{
    width:100%;
    height:230px;
    object-fit:cover;
    transition:.5s;
}

.facility-card:hover img{
    transform:scale(1.08);
}

.facility-content{
    padding:28px;
}

.facility-content h3{
    color:var(--primary);
    margin-bottom:15px;
}

.facility-content p{
    color:#666;
    line-height:1.8;
}

/*=====================================
LATEST NEWS
======================================*/

.news{
    padding:110px 8%;
    background:#fff;
}

.news-title{
    text-align:center;
    margin-bottom:60px;
}

.news-title h5{
    color:var(--secondary);
}

.news-title h2{
    font-size:42px;
    color:var(--primary);
    margin-top:10px;
}

.news-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.news-card{
    background:#fff;
    overflow:hidden;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.news-card:hover{
    transform:translateY(-10px);
}

.news-card img{
    width:100%;
    height:230px;
    object-fit:cover;
    transition:.5s;
}

.news-card:hover img{
    transform:scale(1.08);
}

.news-content{
    padding:30px;
}

.news-date{
    display:inline-block;
    background:var(--secondary);
    color:#fff;
    padding:6px 15px;
    border-radius:30px;
    font-size:13px;
    margin-bottom:18px;
}

.news-content h3{
    color:var(--primary);
    margin-bottom:15px;
}

.news-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
}

.news-content a{
    color:var(--primary);
    font-weight:600;
}

.news-content a:hover{
    color:var(--secondary);
}

/*=====================================
RESPONSIVE
======================================*/

@media(max-width:992px){

.stats-container{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.program-title h2,
.facilities-title h2,
.news-title h2{
font-size:32px;
}

.stats-container{
grid-template-columns:1fr;
}

.program-container,
.facility-grid,
.news-grid{
grid-template-columns:1fr;
}

}
.footer{
    background:#050505;
    color:#ccc;
    padding:70px 8%;
}

.footer-container{
    display:grid;
    grid-template-columns:1.5fr 1.3fr 1fr 1fr;
    gap:50px;
}

.footer-logo{
    width:120px;
    margin-bottom:20px;
}

.footer p{
    line-height:1.8;
    font-size:18px;
}

.footer h2{
    color:white;
    margin-bottom:20px;
    position:relative;
}

.footer h2::after{
    content:'';
    width:80px;
    height:4px;
    background:#FFD700;
    position:absolute;
    left:0;
    bottom:-10px;
}

.newsletter{
    margin-top:30px;
    display:flex;
}

.newsletter input{
    width:100%;
    padding:18px;
    border:none;
    outline:none;
    background:#222;
    color:white;
}

.newsletter button{
    width:80px;
    border:none;
    background:#004d8d;
    color:white;
    cursor:pointer;
    font-size:22px;
}
.programss{
     background: transparent    ;
}
.programss ul{
    list-style:none;
}

.programss ul li{
    margin:18px 0;
}

.programss ul li a{
    text-decoration:none;
    color:#ccc;
    transition:0.3s;
}

.programss ul li a:hover{
    color:#FFD700;
    padding-left:10px;
}

.contact-item{
    display:flex;
    align-items:center;
    margin:25px 0;
}

.contact-icon{
    width:55px;
    height:55px;
    background:#004d8d;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FFD700;
    font-size:20px;
    margin-right:15px;
}

.socials{
    margin-top:25px;
}

.socials a{
    width:45px;
    height:45px;
    background:#004d8d;
    color:white;
    text-decoration:none;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin-right:10px;
    transition:.3s;
}

.socials a:hover{
    background:#FFD700;
    color:black;
    transform:translateY(-5px);
}

.footer-bottom{
    margin-top:60px;
    border-top:1px solid rgba(255,255,255,.1);
    padding-top:25px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-bottom p{
    font-size:16px;
}

@media(max-width:992px){

    .footer-container{
        grid-template-columns:1fr;
    }

    .footer-bottom{
        gap:15px;
        text-align:center;
        justify-content:center;
    }
}
.leaders-section{
  padding:100px 10%;
  background:#fff;
}

.leaders-title{
  text-align:center;
  font-size:48px;
  margin-bottom:50px;
}

/* X-axis slider */
.leaders-slider{
  display:flex;
  gap:25px;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  padding-bottom:20px;
  scroll-behavior:smooth;
}

/* Hide scrollbar */
.leaders-slider::-webkit-scrollbar{
  display:none;
}

/* Card */
.leader-card{
  min-width:280px;
  flex:0 0 auto;
  background:white;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  scroll-snap-align:center;
  text-align:center;
  transition:0.3s;
}
.imagie{
    background-image: url("ChatGPT\ Image\ Jun\ 26\,\ 2026\,\ 01_43_43\ AM.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.leader-card:hover{
  transform:scale(1.05);
}

.leader-card img{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:20px 20px 0 0;
}

.leader-card h3{
  color:#0d6efd;
  margin:10px 0 5px;
}
